<section id="target"
         [class]="wallpaper?.containerStyle"
         [style.height.px]="preview?.containerSize?.height"
         [style.width.px]="preview?.containerSize?.width"
         [style.border]="wallpaper?.containerBorder"
         [style.background-clip]="wallpaper?.containerClip"
         [style.background-color]="wallpaper?.containerColor"
         [style.background-image]="getUrl()"
         [style.background-position]="wallpaper?.containerPosition"
         [style.background-repeat]="wallpaper?.containerRepeat"
         [style.background-size]="wallpaper?.containerBgSize">
  <section fxFlex
           fxLayout="column"
           [class]="wallpaper?.containerStyle"
           [fxLayoutAlign]="wallpaper?.alignment"
           [style.backdrop-filter]="wallpaper?.containerFilter"
           [style.-webkit-backdrop-filter]="wallpaper?.containerFilter">
    <img [src]="wallpaper?.url"
         [alt]="wallpaper?.name"
         [class]="wallpaper?.imageStyle"
         [height]="preview?.imageSize?.height"
         [width]="preview?.imageSize?.width"
         [style.border]="wallpaper?.imageBorder"
         [style.filter]="wallpaper?.imageFilter"
         [style.transform]="wallpaper?.imageTransform">
  </section>
</section>
