<input #fileInput
       type="file"
       class="styled"
       accept="image/*"
       (change)="fileChange($event)" />
<section fxLayout="column"
         fxLayoutAlign="start stretch">
  <section class="drop-container cursor-pointer"
           [ngClass]="dropStyle"
           [style.width.px]="dropWidth"
           [style.height.px]="dropHeight"
           (click)="fileInput.click()"
           (drop)="drop($event)"
           (dragover)="dragOver($event)"
           (dragleave)="dragLeave()">
    <section fxLayout="column"
             fxLayoutAlign="center center"
             class="drop-overlay"
             [style.opacity]="hovered ? .5 : 0">
      <mat-icon [style.transform]="'scale(' + dropIconScale + ')'"
                [ngClass]="dropIconClass">{{dropIcon}}</mat-icon>
    </section>
  </section>
  <p class="m4 mat-caption"
     fxFlexAlign="center"
     [style.max-width.px]="dropWidth">
    Click or drop a file into the area above to upload.
  </p>
  <link-loader (loaded)="emitFile($event)"></link-loader>
</section>
