<section fxLayout="column"
         fxLayoutAlign="start stretch"
         [class]="editorStyle">
  <section fxLayout="row | wrap"
           fxLayoutAlign="start center">
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             fxFlex
             class="p8 m4 background-card rounded">
      <p class="mat-subheading-1">Container Size</p>
      <aspect-ratio-editor [data]="wallpaper.containerSize"
                           (refresh)="refresh.emit()"></aspect-ratio-editor>
    </section>
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             fxFlex
             class="p8 m4 background-card rounded">
      <p class="mat-subheading-1">Image Size</p>
      <aspect-ratio-editor [data]="wallpaper.imageSize"
                           (refresh)="refresh.emit()"></aspect-ratio-editor>
    </section>
  </section>
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           class="p8 m4 background-card rounded">
    <p class="mat-subheading-1">Settings</p>
    <section fxLayout="row | wrap"
             fxLayoutAlign="start center"
             fxLayoutGap="12px">
      <mat-form-field fxFlex>
        <mat-label>Container Filters</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.containerFilter" />
      </mat-form-field>
      <info [tip]="backdropTip"></info>
      <mat-form-field fxFlex>
        <mat-label>Image Filters</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.imageFilter" />
      </mat-form-field>
      <info [tip]="filterTip"></info>
    </section>
    <section fxLayout="row | wrap"
             fxLayoutAlign="start center"
             fxLayoutGap="12px">
      <mat-form-field fxFlex>
        <mat-label>Container Border</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.containerBorder">
      </mat-form-field>
      <info [tip]="borderTip"></info>
      <mat-form-field fxFlex>
        <mat-label>Image Border</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.imageBorder">
      </mat-form-field>
      <info [tip]="borderTip"></info>
    </section>
    <section fxLayout="row | wrap"
             fxLayoutAlign="start center"
             fxLayoutGap="12px">
      <mat-form-field fxFlex>
        <mat-label>Container Style</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.containerStyle">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Image Style</mat-label>
        <input matInput
               [(ngModel)]="wallpaper.imageStyle">
      </mat-form-field>
    </section>
    <mat-form-field>
      <mat-label>Alignment</mat-label>
      <mat-select [(ngModel)]="wallpaper.alignment">
        <mat-option *ngFor="let a of alignments"
                    [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
</section>
