<section class="mat-typography mat-app-background app-frame"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
  <app-header heading="Wallpaper Editor"
              containerStyle="p8 background-card"
              [loading]="loading"></app-header>
  <section #previewElement
           [fxFlex.gt-sm]="wallpaper ? '60%' : '100%'"
           [fxFlex.lt-md]="wallpaper ? '40%' : '100%'"
           fxLayout="column"
           fxLayoutAlign="center center"
           class="p8 background-card"
           (window:resize)="resize()">
    <ng-container *ngIf="wallpaper">
      <editor-preview [preview]="preview"
                      [wallpaper]="wallpaper"></editor-preview>
    </ng-container>
    <image-loader *ngIf="!(wallpaper)"
                  [dropWidth]="setLoaderWidth()"
                  [dropHeight]="setLoaderHeight()"
                  (loaded)="load($event)"></image-loader>
  </section>
  <section *ngIf="wallpaper"
           fxLayout.lt-md="column"
           fxLayout.gt-sm="row | wrap"
           fxLayoutAlign="start stretch"
           fxFlex.gt-sm="40%"
           fxFlex.lt-md="60%"
           class="p8 background-default scroll-container">
    <wallpaper-editor fxFlex
                      [wallpaper]="wallpaper"
                      (loaded)="load($event)"
                      (refresh)="refresh()"></wallpaper-editor>
  </section>
</section>
