<section class="mat-typography mat-app-background app-frame"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
  <app-header heading="Wallpaper Editor"
              containerStyle="p8 background-card"
              [loading]="loading"></app-header>
  <section fxFlex
           fxLayout="column"
           [fxLayoutAlign]="wallpaper?.alignment ?? 'center center'"
           class="p8 scroll-container background-card">
    <ng-container *ngIf="imageSrc && wallpaper">
      <img height="300"
           [src]="imageSrc"
           [alt]="wallpaper.name">
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               class="monospace p8">
        <p class="m4">{{wallpaper.render()}}</p>
      </section>
    </ng-container>
    <image-loader *ngIf="!(wallpaper)"
                  [dropWidth]="400"
                  (loaded)="load($event)"></image-loader>
  </section>
  <section *ngIf="wallpaper"
           fxLayout.lt-md="column"
           fxLayout.gt-sm="row | wrap"
           fxLayoutAlign="start stretch"
           class="p8 background-default el-8 scroll-container control-panel">
    <section fxLayout="column"
             fxLayoutAlign="start stretch">
      <section fxLayout="row"
               fxLayoutAlign="start center"
               fxLayoutGap="4px"
               class="m4">
        <mat-form-field fxFlex>
          <mat-label>Name</mat-label>
          <input matInput
                 [(ngModel)]="wallpaper.name" />
        </mat-form-field>
        <button mat-icon-button
                color="primary"
                matTooltip="Export Wallpaper">
          <mat-icon class="material-icons-outlined">file_download</mat-icon>
        </button>
      </section>
      <image-loader [mini]="true"
                    (loaded)="load($event)"></image-loader>
    </section>
    <wallpaper-editor fxFlex
                      [wallpaper]="wallpaper"></wallpaper-editor>
  </section>
</section>
