<section class="mat-typography mat-app-background app-frame"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
  <app-header heading="Wallpaper Editor"
              containerStyle="p8"></app-header>
  <section fxFlex
           fxLayout="column"
           fxLayoutAlign="center center"
           class="p8">
    <section fxLayout="row | wrap"
             fxLayoutAlign="center center"
             fxLayoutGap="16px">
      <image-loader (loaded)="load($event)"></image-loader>
      <code class="color-green background-card px8 py4 m4 card-outline-accent rounded glow-accent"
            *ngIf="wallpaper">
      <pre class="rounded">{{wallpaper | json}}</pre>
    </code>
    </section>
  </section>
  <section *ngIf="wallpaper"
           fxLayout="column"
           fxLayoutAlign="start stretch"
           class="background-card">
    <section class="p8"
             fxLayout="row"
             fxLayoutAlign="center center">
      <p class="m4 mat-title">Controls</p>
    </section>
  </section>
</section>
